/****************************************************************************TAG SELECTORS*****************************************************************************/

body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}
h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #066163;
  padding-bottom: 20px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #247881;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #C4D7E0;
  width: 7%;
  border-width: 7px;
  margin: 100px auto;
}

p {
  line-height: 2;
}

a {
  color: #446A46;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  margin: 10px 33px;
}

a:hover:not(.btn) {
  color: #4E944F;
  transition: all 0.5s ease-in-out;
}

/*****************************************************************************CLASS SELECTORS**************************************************************************/

.top-container {
  background-color: #E4F9F5;
  padding-top: 130px;
  position: relative;
}

.middle-container {
  margin: 70px 0;
}

.bottom-container {
  background-color: #76BA99;
  display: inline-block;
  margin-top: 100px;
  width: 100%;
  padding: 50px 0 20px;
}

.bottom-cloud {
  position: absolute;
  left: 280px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.subheader {
  font-family: 'Dosis', sans-serif;
  font-size: 1.7rem;
  font-weight: normal;
}

.profile-image {
  max-width: 200px;
  max-height: 200px;
}

.title {
  color: #395B64;
}

.scrolldown {
  --color: white;
  --sizeX: 30px;
  --sizeY: 50px;
  position: absolute;
  width: var(--sizeX);
  height: var(--sizeY);
  margin-left: var(sizeX / 2);
  border: calc(var(--sizeX) / 10) solid var(--color);
  border-radius: 50px;
  box-sizing: border-box;
  margin-bottom: 16px;
  bottom: 50px;
  left: 150px;
}

.scrolldown1 {
  --color: white;
  --sizeX: 30px;
  --sizeY: 50px;
  position: absolute;
  width: var(--sizeX);
  height: var(--sizeY);
  margin-left: var(sizeX / 2);
  border: calc(var(--sizeX) / 10) solid var(--color);
  border-radius: 50px;
  box-sizing: border-box;
  margin-bottom: 16px;
  bottom: 50px;
  right: 150px;
}

.scrolldown::before {
  content: "";
  position: absolute;
  bottom: 30px;
  left: 50%;
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: var(--color);
  border-radius: 100%;
  animation: scrolldown-anim 2s infinite;
  box-sizing: border-box;
  box-shadow: 0px -5px 3px 1px #C6DCE4;
}

.scrolldown1::before {
  content: "";
  position: absolute;
  bottom: 30px;
  left: 50%;
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: var(--color);
  border-radius: 100%;
  animation: scrolldown-anim 2s infinite;
  box-sizing: border-box;
  box-shadow: 0px -5px 3px 1px #C6DCE4;
}

@keyframes scrolldown-anim {
  0% {
    opacity: 0;
    height: 6px;
  }
  40% {
    opacity: 1;
    height: 10px;
  }
  80% {
    transform: translate(0, 20px);
    height: 10px;
    opacity: 0;
  }
  100% {
    height: 3px;
    opacity: 0;
  }
}
.chevrons {
  padding: 6px 0 0 0;
  margin-left: -3px;
  margin-top: 48px;
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chevrondown {
  margin-top: -6px;
  position: relative;
  border: solid var(--color);
  border-width: 0 3px 3px 0;
  display: inline-block;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
}
.chevrondown:nth-child(odd) {
  animation: pulse 500ms ease infinite alternate;
}
.chevrondown:nth-child(even) {
  animation: pulse 500ms ease infinite alternate 250ms;
}
@keyframes pulse {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}

.intro {
  width: 40%;
  margin: auto;
}

.skill-row {
  width: 50%;
  margin: 110px auto;
  text-align: left;
}

.img-skill1 {
  width: 30%;
  float: left;
  margin-right: 30px;
  position: relative;
  top: 0;
  transition: all .4s ease-in-out;
}

.img-skill1:hover {
  top: -50px;
}

.img-skill2 {
  width: 30%;
  float: right;
  margin-left: 30px;
  position: relative;
  top: 0;
  transition: all .5s ease-in-out;
}

.img-skill2:hover {
  top: -50px;
}

.contact-message {
  width: 45%;
  margin: 30px auto 80px;
}

.btn {
  background: #ADCF9F;
  background-image: -webkit-linear-gradient(top, #ADCF9F, #1A4D2E);
  background-image: -moz-linear-gradient(top, #ADCF9F, #1A4D2E);
  background-image: -ms-linear-gradient(top, #ADCF9F, #1A4D2E);
  background-image: -o-linear-gradient(top, #ADCF9F, #1A4D2E);
  background-image: linear-gradient(to bottom, #ADCF9F, #1A4D2E);
  -webkit-border-radius: 14;
  -moz-border-radius: 14;
  border-radius: 10px;
  text-shadow: 0 0 3px #666666;
  -webkit-box-shadow: 0 2px 3px #666666;
  -moz-box-shadow: 0 2px 3px #666666;
  box-shadow: 0 2px 3px #666666;
  color: #EAF6F6;
  font-size: 21px;
  font-family: 'Roboto', sans-serif;
  padding: 12px 22px 12px 22px;
  text-decoration: none;
  transition: all .5s ease-in-out;
}

.btn:active {
  background: #557C55;
  color: #EAF6F6;
  text-decoration: none;
}

.btn:hover {
  transform: scale(1.5);
}

.insta-icon {
  max-width: 30px;
  max-height: 30px;
}

.github-icon {
  max-width: 29px;
  max-height: 29px;
}

.reddit-icon {
  max-width: 33px;
  max-height: 33px;
  position: relative;
  top: 3px;
}

.note {
  position: relative;
  top: 40px;
  font-size: 0.9rem;
  font-family: 'Nunito', sans-serif;
  color: #7F8487;
}

.icons {
  transition: all .3s ease-in-out;
}

.icons:hover {
  transform: scale(1.5);
}

/*****************************************************************************ID SELECTORS**************************************************************************/

#rights {
  color: #1A4D2E;
  padding-top: 20px;
  font-size: 0.9rem;
  font-family: 'Comfortaa', cursive;
}
